atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
colorama==0.4.4
idna==3.2
importlib-metadata==4.8.1
iniconfig==1.1.1
jsonschema==3.2.0
packaging==21.0
pluggy==1.0.0
py==1.10.0
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.5
PyYAML==5.4.1
regex==2021.8.28
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
typing-extensions==3.10.0.1
urllib3==1.26.6
wcwidth==0.2.5
wikitextparser==0.47.5
zipp==3.5.0
