atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.10.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.9
colorama==0.4.4
flake8==4.0.1
idna==3.3
importlib-metadata==4.10.0
importlib-resources==5.4.0
iniconfig==1.1.1
jsonschema==4.2.1
mccabe==0.6.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.6
pyrsistent==0.18.0
pytest==6.2.5
PyYAML==6.0
regex==2021.11.10
requests==2.26.0
six==1.16.0
soupsieve==2.3.1
toml==0.10.2
typing-extensions==4.0.0
urllib3==1.26.7
wcwidth==0.2.5
wikitextparser==0.47.9
zipp==3.6.0
